.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 1000; /* Asegura de que esté por encima de otros elementos */
}

.new-clase-add-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%; /* El formulario ocupa todo el ancho disponible */
  background-color: var(--neutral-white);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px; /* Bordes redondeados */
  background-color: var(--neutral-white); /* Color de fondo */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el pop-up */
  width: 80%;
  max-width: 600px;
  height: auto;
  max-height: 80vh;
  overflow-y: auto;
}

/*Titulo */
.modal-content h2 {
  width: 100%;
  margin-top: 0;
  background-color: var(--neutral-white);
  color: var(--neutral-black);
  font-size: 2.2rem; /* Ajustado a rem para mejor escalabilidad */
  text-align: center;
  font-family: var(--title-text);
}

.modal-content label {
  font-family: var(--normal-text);
  font-size: 1.2em;
  margin-bottom: 0.5rem;
  width: 100%; /* El label ocupa todo el ancho */
  color: black;
  display: block;
}

.modal-content input {
  width: 100%; /* El input ocupa todo el ancho */
  font-family: var(--normal-text);
  height: 2.2rem; /* Altura relativa */
  margin-bottom: 1rem; /* Margen inferior */
  font-size: 1rem;
  background-color: var(--neutral-white);
  border: 1.7px solid black;
  color: var(--neutral-black);
  border-radius: 0.4em; /* Bordes redondeados */
  padding-left: 10px;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.modal-content ::placeholder {
  color: rgba(128, 128, 128, 0.7);
}

.modal-content button {
  width: 80%; /* Reduce el ancho del botón para que no ocupe toda la ventana */
  height: 2.2rem; /* Disminuye la altura del botón */
  border: none;
  border-radius: 8px; /* Reduce un poco el redondeo */
  cursor: pointer;
  color: var(--neutral-white);
  font-size: 1.2em; /* Reduce el tamaño de fuente */
  font-weight: bold;
  margin: 0.5rem auto; /* Ajusta el margen superior e inferior */
  padding: 0.4rem 0.6rem; /* Disminuye el relleno para hacer los botones más compactos */
  display: block; /* Asegura que los botones estén centrados */
}

.new-clase-add-form-label {
  margin-top: 1em;
  display: block;
  justify-content: left;
  width: 100%; /* El label ocupa todo el ancho */
  margin-bottom: 5px; /* Espaciado entre la etiqueta y el input */
}
.modal-content .cancel-button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.4rem 0.6rem; /* Ajusta el padding */
  border-radius: 8px; /* Reduce el borde redondeado */
  cursor: pointer;
  font-size: 1.2em; /* Ajusta el tamaño de la fuente */
  transition: background-color 0.3s ease;
}

.modal-content .cancel-button:hover {
  background-color: darkred;
}

.boton-habilitado {
  background-color: var(--accent-green); /* Color original */
  color: var(--neutral-white);
}
.boton-habilitado:hover {
  background-color: darkgreen;
}

.boton-deshabilitado {
  background-color: gray; /* Color cuando está deshabilitado */
  color: lightgray;
}
.boton-deshabilitado:hover {
  background-color: gray;
  cursor: default;
}
