/*
  POR QUÉ NO ESTAMOS USANDO SASS

  ⡴⠒⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⠉⠳⡆⠀
  ⣇⠰⠉⢙⡄⠀⠀⣴⠖⢦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣆⠁⠙⡆
  ⠘⡇⢠⠞⠉⠙⣾⠃⢀⡼⠀⠀⠀⠀⠀⠀⠀⢀⣼⡀⠄⢷⣄⣀⠀⠀⠀⠀⠀⠀⠀⠰⠒⠲⡄⠀⣏⣆⣀⡍
  ⠀⢠⡏⠀⡤⠒⠃⠀⡜⠀⠀⠀⠀⠀⢀⣴⠾⠛⡁⠀⠀⢀⣈⡉⠙⠳⣤⡀⠀⠀⠀⠘⣆⠀⣇⡼⢋⠀⠀⢱
  ⠀⠘⣇⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⡴⢋⡣⠊⡩⠋⠀⠀⠀⠣⡉⠲⣄⠀⠙⢆⠀⠀⠀⣸⠀⢉⠀⢀⠿⠀⢸
  ⠀⠀⠸⡄⠀⠈⢳⣄⡇⠀⠀⢀⡞⠀⠈⠀⢀⣴⣾⣿⣿⣿⣿⣦⡀⠀⠀⠀⠈⢧⠀⠀⢳⣰⠁⠀⠀⠀⣠⠃
  ⠀⠀⠀⠘⢄⣀⣸⠃⠀⠀⠀⡸⠀⠀⠀⢠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠈⣇⠀⠀⠙⢄⣀⠤⠚⠁⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡇⠀⠀⢠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡄⠀⠀⠀⢹⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡀⠀⠀⢘⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡇⠀⢰⣿⣿⣿⡿⠛⠁⠀⠉⠛⢿⣿⣿⣿⣧⠀⠀⣼⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⡀⣸⣿⣿⠟⠀⠀⠀⠀⠀⠀⠀⢻⣿⣿⣿⡀⢀⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⡇⠹⠿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢿⡿⠁⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠻⣤⣞⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢢⣀⣠⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀ ⠀⠀⠀⠀⠀⠀⠀⠙⠲⢤⣀⣀⠀⢀⣀⣀⠤⠒⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
*/

.btn {
  /*
    Estas variables hay que sobreescribirlas para cada variante de color
    y estado (normal, :hover, :active y :disabled)
  */
  --btn-color: magenta;
  --btn-bg-color: magenta;
  --btn-outline-color: magenta;

  /* RESETS */
  border: none;

  cursor: pointer;
  display: inline-block;
  border-radius: 0.375rem;
  font-weight: normal;
  transition: all ease-in-out 0.15s;

  &:disabled {
    cursor: not-allowed;
  }

  &:active:not(:disabled) {
    transform: scale(0.98);
  }

  /* Solo muestra el outline cuando se hace focus usando el teclado */
  &:focus-visible {
    outline: solid 0.25rem var(--btn-outline-color);
  }
}

/*
  Sizes
*/

.btn--sm {
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
}

.btn--md {
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
}

.btn--lg {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
}

/*
  Variants
*/

.btn--normal {
  background-color: var(--btn-bg-color);
  color: var(--btn-color);
}

.btn--outline {
  box-shadow: inset 0 0 0 1px var(--btn-bg-color);
  color: var(--btn-color);
  background-color: transparent;

  &:hover:not(:disabled) {
    background-color: var(--btn-bg-color);
  }
}

.btn--link {
  color: var(--btn-color);
  text-decoration: underline;
}

/*
  Colors

  Para todos los colores se repite lo mismo. Solo cambia el color de base,
  pero los tonos son los mismos (las variables para los colores tienen la
  forma --base-tono).
*/

.btn--primary {
  --btn-outline-color: var(--primary-200);

  &.btn--normal {
    --btn-color: var(--primary-50);
    --btn-bg-color: var(--primary-500);

    &:disabled {
      --btn-color: var(--primary-400);
      --btn-bg-color: var(--primary-100);
    }
  }

  &.btn--outline {
    --btn-color: var(--primary-600);
    --btn-bg-color: var(--primary-600);

    &:disabled {
      --btn-color: var(--primary-300);
      --btn-bg-color: var(--primary-300);
    }
  }

  &.btn--normal,
  &.btn--outline {
    &:hover:not(:disabled) {
      --btn-color: var(--primary-100);
      --btn-bg-color: var(--primary-600);
    }

    &:active:not(:disabled) {
      --btn-color: var(--primary-200);
      --btn-bg-color: var(--primary-700);
    }
  }

  &.btn--link {
    --btn-color: var(--primary-600);

    &:hover:not(:disabled) {
      --btn-color: var(--primary-700);
    }

    &:active:not(:disabled) {
      --btn-color: var(--primary-800);
    }

    &:disabled {
      --btn-color: var(--primary-300);
    }
  }
}

.btn--secondary {
  --btn-outline-color: var(--secondary-200);

  &.btn--normal {
    --btn-color: var(--secondary-50);
    --btn-bg-color: var(--secondary-500);

    &:disabled {
      --btn-color: var(--secondary-400);
      --btn-bg-color: var(--secondary-100);
    }
  }

  &.btn--outline {
    --btn-color: var(--secondary-600);
    --btn-bg-color: var(--secondary-600);

    &:disabled {
      --btn-color: var(--secondary-300);
      --btn-bg-color: var(--secondary-300);
    }
  }

  &.btn--normal,
  &.btn--outline {
    &:hover:not(:disabled) {
      --btn-color: var(--secondary-100);
      --btn-bg-color: var(--secondary-600);
    }

    &:active:not(:disabled) {
      --btn-color: var(--secondary-200);
      --btn-bg-color: var(--secondary-700);
    }
  }

  &.btn--link {
    --btn-color: var(--secondary-600);

    &:hover:not(:disabled) {
      --btn-color: var(--secondary-700);
    }

    &:active:not(:disabled) {
      --btn-color: var(--secondary-800);
    }

    &:disabled {
      --btn-color: var(--secondary-300);
    }
  }
}

.btn--success {
  --btn-outline-color: var(--success-200);

  &.btn--normal {
    --btn-color: var(--success-50);
    --btn-bg-color: var(--success-500);

    &:disabled {
      --btn-color: var(--success-400);
      --btn-bg-color: var(--success-100);
    }
  }

  &.btn--outline {
    --btn-color: var(--success-600);
    --btn-bg-color: var(--success-600);

    &:disabled {
      --btn-color: var(--success-300);
      --btn-bg-color: var(--success-300);
    }
  }

  &.btn--normal,
  &.btn--outline {
    &:hover:not(:disabled) {
      --btn-color: var(--success-100);
      --btn-bg-color: var(--success-600);
    }

    &:active:not(:disabled) {
      --btn-color: var(--success-200);
      --btn-bg-color: var(--success-700);
    }
  }

  &.btn--link {
    --btn-color: var(--success-600);

    &:hover:not(:disabled) {
      --btn-color: var(--success-700);
    }

    &:active:not(:disabled) {
      --btn-color: var(--success-800);
    }

    &:disabled {
      --btn-color: var(--success-300);
    }
  }
}

.btn--danger {
  --btn-outline-color: var(--danger-200);

  &.btn--normal {
    --btn-color: var(--danger-50);
    --btn-bg-color: var(--danger-500);

    &:disabled {
      --btn-color: var(--danger-400);
      --btn-bg-color: var(--danger-100);
    }
  }

  &.btn--outline {
    --btn-color: var(--danger-600);
    --btn-bg-color: var(--danger-600);

    &:disabled {
      --btn-color: var(--danger-300);
      --btn-bg-color: var(--danger-300);
    }
  }

  &.btn--normal,
  &.btn--outline {
    &:hover:not(:disabled) {
      --btn-color: var(--danger-100);
      --btn-bg-color: var(--danger-600);
    }

    &:active:not(:disabled) {
      --btn-color: var(--danger-200);
      --btn-bg-color: var(--danger-700);
    }
  }

  &.btn--link {
    --btn-color: var(--danger-600);

    &:hover:not(:disabled) {
      --btn-color: var(--danger-700);
    }

    &:active:not(:disabled) {
      --btn-color: var(--danger-800);
    }

    &:disabled {
      --btn-color: var(--danger-300);
    }
  }
}

.btn--warning {
  --btn-outline-color: var(--warning-200);

  &.btn--normal {
    --btn-color: var(--warning-50);
    --btn-bg-color: var(--warning-500);

    &:disabled {
      --btn-color: var(--warning-400);
      --btn-bg-color: var(--warning-100);
    }
  }

  &.btn--outline {
    --btn-color: var(--warning-600);
    --btn-bg-color: var(--warning-600);

    &:disabled {
      --btn-color: var(--warning-300);
      --btn-bg-color: var(--warning-300);
    }
  }

  &.btn--normal,
  &.btn--outline {
    &:hover:not(:disabled) {
      --btn-color: var(--warning-100);
      --btn-bg-color: var(--warning-600);
    }

    &:active:not(:disabled) {
      --btn-color: var(--warning-200);
      --btn-bg-color: var(--warning-700);
    }
  }

  &.btn--link {
    --btn-color: var(--warning-600);

    &:hover:not(:disabled) {
      --btn-color: var(--warning-700);
    }

    &:active:not(:disabled) {
      --btn-color: var(--warning-800);
    }

    &:disabled {
      --btn-color: var(--warning-300);
    }
  }
}

.btn--info {
  --btn-outline-color: var(--info-200);

  &.btn--normal {
    --btn-color: var(--info-50);
    --btn-bg-color: var(--info-500);

    &:disabled {
      --btn-color: var(--info-400);
      --btn-bg-color: var(--info-100);
    }
  }

  &.btn--outline {
    --btn-color: var(--info-600);
    --btn-bg-color: var(--info-600);

    &:disabled {
      --btn-color: var(--info-300);
      --btn-bg-color: var(--info-300);
    }
  }

  &.btn--normal,
  &.btn--outline {
    &:hover:not(:disabled) {
      --btn-color: var(--info-100);
      --btn-bg-color: var(--info-600);
    }

    &:active:not(:disabled) {
      --btn-color: var(--info-200);
      --btn-bg-color: var(--info-700);
    }
  }

  &.btn--link {
    --btn-color: var(--info-600);

    &:hover:not(:disabled) {
      --btn-color: var(--info-700);
    }

    &:active:not(:disabled) {
      --btn-color: var(--info-800);
    }

    &:disabled {
      --btn-color: var(--info-300);
    }
  }
}
