* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  --primary-blue: #336699;
  --primary-green: #339966;
  --primary-red: #993300;
  --primary-cyan: #085354;

  --neutral-white-text: #f4f4f4;
  --neutral-white: #fcf9f9;
  --neutral-black: #5d5d5d;

  --accent-yellow: #f1f864;
  --accent-tennis-green: #bceb3c;
  --accent-green: #7cbd1e;

  --title-text: 'Oswald', sans-serif;
  --normal-text: 'Roboto', sans-serif;
}
