.calendar-picker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-picker__btn {
  all: unset;
  color: var(--accent-green);
  cursor: pointer;
  font-size: 2rem;
  transition: all ease-in-out 0.15s;

  &:hover {
    color: var(--accent-yellow);
  }
}

.calendar-picker .pickers {
  background-color: var(--neutral-black);
  font-family: var(--title-text);
  color: var(--neutral-white-text);
  font-size: 130%;
  text-align: center;
  border: none;
  transition: all 0.2s ease;
}

.calendar-picker .pickers:hover {
  color: var(--accent-yellow);
  cursor: pointer;
}

.calendar-picker .pickers:focus {
  outline: none;
  border: none;
  color: var(--accent-yellow);
}

/*
  Probablemente todo esto se puede borrar, pero no estoy seguro.
  Lo dejo comentado para que sea fácil recuperarlo en caso
  de ser necesario.
*/
/* 
.ayercitoOculto {
  font-family: var(--title-text);
  color: var(--neutral-white-text);
  font-size: 130%;
  text-align: center;
  border: none;
  transition: all 2s ease;
  position: absolute;
  left: 20%;
  top: 10%;
  z-index: 1;
}
.ayercitoOculto .active {
  color: blue;
}

.derecha {
  position: absolute;
}
#table-panel-date button {
  cursor: pointer;
}
*/
