/* #home_card{
    border: 5px solid var(--neutral-black);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-black);
    text-align: center;
    width: 15vw;
    height: 35vh;
    box-shadow: 0px 5px 20px var(--neutral-black);
    margin: 5%;

    transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
} */

 

#home_card_icon{
    color: var(--neutral-black);
    font-size: 500%;
    padding-top: 20%;
}

#home_card h2{
    font-family: var(--title-text);
    font-size: 300%;
}

#home_card h3{
    font-family: var(--normal-text);
    color: var(--neutral-white-text);
    font-size: 150%;
}