.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fc9e33;
  color: white;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.h2-sidebar {
  margin: 0;
  font-size: 40px;
}

.sidebar.open {
  transform: translateY(0);
}

.profile-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 24px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1001;
}

.sub-menu {
  list-style-type: none;
  display: block;
  background-color: rgb(255, 255, 255);
  padding: 0;
  width: 100%;
}

.sub-menu li {
  padding: 2px 0;
  color: black;
}
.sub-menu li:hover {
  background-color: #fc9e33;
}

.profile-sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
  padding: 60px;
  width: 100%;
}

.list-toggle,
.options-list li {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  color: white;
}

.options-sidebar {
  font-size: 36px;
}

.options-sidebar:hover {
  background: rgba(255, 255, 255, 0.1);
  color: black;
}

.options-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
