.proveedor-btn {
  width: 5%;
  border-radius: 12px;
  height: 2rem;
  font-size: 120%;
  color: var(--neutral-black);
  border: none;
  box-shadow: 0px 5px 20px var(--neutral-black);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.proveedor-btn:hover {
  height: 2.5rem;
  font-size: 130%;
}

/* Estilos específicos */
.edit-proveedor-btn {
  background-color: #94f5c5;
}

.edit-proveedor-btn:hover {
  box-shadow: 0px 4px 25px #94f5c5;
}

.pay-proveedor-btn {
  background-color: #9dcc1d;
}

.pay-proveedor-btn:hover {
  box-shadow: 0px 4px 25px #9dcc1d;
}

.delete-proveedor-btn {
  background-color: #6495ed;
}

.delete-proveedor-btn:hover {
  box-shadow: 0px 4px 25px #6495ed;
}

.detail-proveedor-btn {
  background-color: #eaff28;
}

.detail-proveedor-btn:hover {
  box-shadow: 0px 4px 25px #eaff28;
}
