.proveedor-delete-modal {
  background-color: var(--neutral-white);
  display: flex;
  gap: 2em;
  align-items: center;
  flex-direction: column;
  position: absolute;
  border-radius: 20px;
  width: 35vw;
  text-align: center;
  z-index: 20;
  box-shadow: -2px -4px 400px 600px rgba(0, 0, 0, 0.24);
  padding: 2em;
}

.btn-proveedor-white {
  background-color: #fff;
  /* color: #000; */
  width: 300px;
  height: 50px;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  font-family: var(--title-text);
  cursor: pointer;
}

.trash-icon {
  color: #fff;
  /* font-size: 1em; */
}
