#proveedor-add-component {
  background-color: var(--neutral-white);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  border-radius: 20px;
  width: 40vw;
  z-index: 20;
  box-shadow: -2px -4px 400px 600px rgba(0, 0, 0, 0.24);
}

#close-proveedor-add-form {
  background: none;
  position: absolute;
  top: 1vh;
  border: none;
  right: 2vw;
  font-family: var(--title-text);
  font-size: 150%;
  color: var(--neutral-black);
  transition: all 0.5s ease;
  cursor: pointer;
}

#close-proveedor-add-form:hover {
  font-size: 175%;
  font-weight: bolder;
  color: #cc3636;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.textoBotonAceptar,
.textoBotonCancelar,
.textoFormulario {
  font-family: var(--title-text);
  font-size: 20px;
  font-style: normal;
  line-height: 50px;
}

.textoBotonAceptar {
  color: white;
  font-weight: 700;
  text-align: center;
}

.textoBotonCancelar {
  color: black;
  font-weight: 700;
  text-align: center;
}

.textoFormulario {
  color: #000;
  font-weight: 300;
  padding-left: 30px;
}

#proveedor-add-form-addBtn,
#proveedor-add-form-cancelBtn {
  height: 45px;
  width: 220px;
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:
    0 8px 14px rgba(0, 0, 0, 0.2),
    0 -8px 14px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

#proveedor-add-form-addBtn {
  background-color: #7cbd1e;
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

#proveedor-add-form-cancelBtn {
  background-color: #ffffff;
}

#proveedor-add-form-addBtn:hover,
#proveedor-add-form-cancelBtn:hover {
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.4),
    0 -4px 8px rgba(0, 0, 0, 0.4);
}

#proveedor-add-form-addBtn:disabled {
  background-color: var(--neutral-black);
}

.proveedor-add-form-input {
  font-family: var(--normal-text);
  margin-bottom: 15px;
  width: 90%;
  margin: 2vh 2vw;
  margin-top: 0px;
  height: 2.2rem;
  border-radius: 2px;
  font-size: large;
  background-color: var(--neutral-white);
  border: 1px solid lightgrey;
  color: var(--neutral-black);
  padding-left: 5px;
  transition: all 0.5s ease;
}

.proveedor-add-form-input:focus {
  border: none;
  outline: 2px solid var(--accent-green);
}

.proveedor-add-form-input:disabled {
  border: none;
  background-color: var(--neutral-black);
}

.inputlabel {
  width: 90%;
  position: relative;
}

.feedbackInline {
  font-family: var(--normal-text);
  position: absolute;
  top: 0;
  left: 2vw;
  /* border: 1px solid red; */
  font-size: 80%;
  transition: all 0.2s ease;
}

#proveedor-add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--neutral-white);
}
