#proveedores-component-mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 70vw;
  /* Cambiar aca a 35vw si queremos algo compatible con las canchas */
  margin: auto;
  margin-top: 5vh;
  align-items: center;
}
