.card {
  max-width: 300px;
  min-width: 300px;
  border-radius: 20px;
  background-color: #5d5d5d;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 5px solid #5d5d5d;
  text-align: center;
  -webkit-transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.bottom {
  margin-top: 1em;
}

.movimientosCard:hover {
  box-shadow: 0px 10px 30px #94f5c5;
  border: 5px solid #94f5c5;
}

.reservasCard:hover {
  box-shadow: 0px 10px 30px #ffa500;
  border: 5px solid #ffa500;
}

.canchasCard:hover {
  box-shadow: 0px 10px 30px #ee82ee;
  border: 5px solid #ee82ee;
}

.profesoresCard:hover,
.proveedoresCard:hover {
  box-shadow: 0px 10px 30px #bceb3c;
  border: 5px solid #bceb3c;
}

.proveedoresCard:hover {
  box-shadow: 0px 10px 30px #32cd32;
  border: 5px solid #32cd32;
}

.alumnosCard:hover {
  box-shadow: 0px 10px 30px #add8e6;
  border: 5px solid #add8e6;
}

.ajustesCard:hover {
  box-shadow: 0px 10px 30px #78a1ca;
  border: 5px solid #78a1ca;
}

.card a {
  text-decoration: none;
}

.card:hover {
  cursor: pointer;
  border-radius: 21px;
}

.content {
  padding: 1.1rem;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  font-family: var(--title-text);
  font-size: 300%;
  text-transform: capitalize;
}

.desc {
  margin-top: 0.5rem;
  font-family: var(--normal-text);
  color: var(--neutral-white-text);
  font-size: 150%;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563eb;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: 0.3s ease;
}

.action:hover span {
  transform: translateX(4px);
}

.profesor-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.1% auto; /* Margen vertical reducido */
  padding: 20px;
  max-width: 300px; /* Tamaño máximo del contenedor */
  background-color: #f0fff4cb; /* Fondo verde muy claro */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle un toque más atractivo */
  font-family: var(--normal-text);
}

.profesor-label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #008000; /* Verde claro */
  margin-bottom: 1rem;
}

.profesor-select {
  padding: 0.5rem 1rem;
  border: 2px solid #90ee90; /* Borde verde claro */
  border-radius: 5px;
  background-color: #ffffff; /* Fondo blanco */
  color: #008000; /* Texto verde claro */
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.profesor-btn {
  padding: 0.5rem 1rem;
  background-color: #ff9933; /* Naranja más intenso al hacer hover */
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 50%; /* Botón de ancho completo */
}

.profesor-btn:hover {
  background-color: #ffcc99; /* Naranja claro */
}
