.modal-crear-reserva {
  font-family: var(--normal-text);
  width: clamp(240px, 50vw, 300px);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.reserva-group {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  font-size: 1rem;
}

.reserva-group__label {
  font-size: 0.9em;
}

.reserva-group__input {
  padding: 0.5em;
  outline: none;
  border: 1px solid #dadada;

  border-radius: 0.25em;
  border-radius: 0.375em;
  font-size: 1em;
  background-color: var(--neutral-white);
  color: #1f1f1f;

  &:focus {
    border: 1px solid var(--primary-500);
    box-shadow:
      0 0 2px var(--primary-500),
      0 0 4px var(--primary-300);
  }

  &:disabled {
    background-color: #dfdfdf;
    cursor: not-allowed;
    color: #666;
  }
}

.reserva-group--error {
  .reserva-group__label {
    color: var(--danger-600);
  }

  .reserva-group__input {
    border-color: var(--danger-600);

    &:focus {
      border: 1px solid var(--danger-600);
      box-shadow:
        0 0 2px var(--danger-600),
        0 0 4px var(--danger-500);
    }
  }
}

.reserva-group__error-desc {
  font-size: 0.85em;
  color: var(--danger-600);
}

.reserva-calendar {
  width: 100%;
}

.reserva-horas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.reserva-hr {
  margin: 0.5rem 0;
  width: 100%;
  border: none;
  border-top: solid 1px #ccc;
}
