#alumnos-container {
    background-color: var(--primary-blue);
    height: 100%;
    min-height: 100vh;
}

.container-new-alumnos-list {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    border: 1px solid #5d5d5d;
    border-top-left-radius: 1.1em;
    border-top-right-radius: 1.1em;
    border-bottom-left-radius: 1.1em;
    border-bottom-right-radius: 1.1em;
}

.table-head-alumnos {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1.3em;
    font-family: var(--title-text);
    color: var(--neutral-white-text);
    background-color: #5d5d5d;
    padding: .8em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.container-table-alumnos {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1.2em;
    padding: .8em;
}

.new-alumno-item-list{
    cursor: pointer;
}

.new-alumno-item-list:hover{
    cursor: pointer;
    box-shadow: 0px 1.5px 1px #48617a;
}

/* DETALLES DE ALUMNO */
